# Data Types and Structures Questions

Q1. DP What are data structures, and why are they important?

  - Answer:

  Data structures are a way of organizing and storing data in a computer so that it can be accessed and modified efficiently. In Python, data structures are essential because they help manage large amounts of data and perform operations such as searching, sorting, inserting, and deleting data effectively.

Q2. Explain the difference between mutable and immutable data types with examples?

  - Answer:

  In Python, data types are classified into two categories based on whether their values can be changed after they are created:

1. Mutable Data Types:
Mutable data types can be changed after they are created. This means you can modify, add, or remove elements without changing the object’s identity.

  Examples of Mutable Data Types:

    List
    Dictionary
    Set

2. Immutable Data Types:
Immutable data types cannot be changed after they are created. Any modification results in a new object being created.

  Examples of Immutable Data Types:

    Integer
    Float
    String
    Tuple

Q3. What are the main differences between lists and tuples in Python?

  - Answer:

  Mutability:

  Lists are mutable (can be changed).
  Tuples are immutable (cannot be changed).

  Syntax:

  List: uses [] → e.g., [1, 2, 3]
  Tuple: uses () → e.g., (1, 2, 3)

  Performance:

    Tuples are faster and use less memory than lists.

  Methods:

     Lists have more built-in methods (append(), remove() etc.).

  Tuples have fewer methods.

  Use Case:

    Use lists for data that changes.
    Use tuples for fixed data.

Q4. Describe how dictionaries store data in Python.

  - Answer:

  Dictionaries store data as key-value pairs. Each key is unique and is used to access its corresponding value. They are mutable, meaning you can change, add, or remove items. Dictionaries are also insertion-ordered (from Python 3.7+), and provide fast access to data using keys.

Q5. Why might you use a set instead of a list in Python?

   - Answer:

  We might use a set instead of a list when you need to:

  Remove duplicate values automatically

  Check for membership (e.g., x in set) faster

  Perform mathematical operations like union, intersection, and difference

  Sets are unordered and do not allow duplicates, while lists keep order and can have repeated items.

Q6. What is a string in Python, and how is it different from a list?

   - Answer:

  A string in Python is a sequence of characters used to represent text. It is immutable, meaning you cannot change its characters after it is created.

  A list is a collection of items (which can be of any data type) that is mutable, so you can change, add, or remove elements.

  Key differences:

  Data type: String stores characters; list stores multiple elements of any type.

  Mutability: Strings are immutable; lists are mutable.

  Usage: Strings are for text; lists are for collections of items.

Q7: How do tuples ensure data integrity in Python?

   - Answer:

  Tuples ensure data integrity by being immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed. This prevents accidental modification of the data, making tuples ideal for storing fixed collections of values that should remain constant throughout the program.

Q8: What is a hash table, and how does it relate to dictionaries in Python?

   - Answer:

  A hash table is a data structure that stores data in key-value pairs and uses a hash function to quickly compute an index where the value is stored. This allows for fast data retrieval by key.

  In Python, dictionaries are implemented using hash tables. When you use a key in a dictionary, Python uses a hash function to find where the value is stored, enabling quick access, insertion, and deletion of items.

Q9: Can lists contain different data types in Python?

  - Answer:

  Yes, lists in Python can contain elements of different data types together. For example, a single list can hold integers, strings, floats, and even other lists or objects all at once.

Q10: Explain why strings are immutable in Python?

  - Answer:

  Strings are immutable in Python to ensure security, consistency, and performance. Because strings cannot be changed after creation:

  They can be safely shared between different parts of a program without risk of accidental modification.

  They allow Python to optimize memory usage by reusing string objects.

  Immutability also makes strings hashable, so they can be used as keys in dictionaries or elements in sets.

Q11: What advantages do dictionaries offer over lists for certain tasks?

  - Answer:

  Dictionaries offer several advantages over lists for certain tasks:

  Fast lookup: Accessing values by key is much faster than searching through a list.

  Key-value pairing: Dictionaries store data as key-value pairs, making it easier to organize and retrieve related information.

  No duplicate keys: Each key in a dictionary is unique, helping avoid data duplication.

  Flexible keys: You can use meaningful keys (like names or IDs) instead of numeric indexes.

Q12: Describe a scenario where using a tuple would be preferable over a list.

  - Answer:

  Using a tuple is preferable when you need to store a fixed collection of items that should not change throughout the program. For example, storing the coordinates of a point (x, y) or the days of the week is better with a tuple because immutability ensures the data remains constant and prevents accidental modification.

Q13: How do sets handle duplicate values in Python?

  - Answer:

  Sets in Python automatically remove duplicate values. When you add elements to a set, any duplicates are ignored, so each value appears only once in the set.

Q14: How does the “in” keyword work differently for lists and dictionaries?

  - Answer:

  For lists, the in keyword checks if a value exists anywhere in the list by scanning each element.

  For dictionaries, the in keyword checks if a key exists in the dictionary, not the values.

Q15: Can the elements of a tuple be modified? Explain why or why not.

  - Answer:

  No, the elements of a tuple cannot be modified because tuples are immutable. This means that once a tuple is created, its contents cannot be changed, added, or removed. This immutability ensures data integrity and allows tuples to be used as keys in dictionaries.

Q16: What is a nested dictionary, and give an example of its use case?

  - Answer:

  A nested dictionary is a dictionary that contains another dictionary (or dictionaries) as its values. This allows organizing complex, hierarchical data in a structured way.

  Use Case:
  A nested dictionary can be used to store information about students and their grades in different subjects.

Q17: Describe the time complexity of accessing elements in a dictionary.

  - Answer:

  Accessing elements in a Python dictionary generally has an average time complexity of O(1) (constant time). This is because dictionaries use a hash table internally, allowing direct access to values via their keys without searching through all items. However, in rare cases of many hash collisions, the worst-case time complexity can degrade to O(n).

Q18: In what situations are lists preferred over dictionaries?

  - Answer:

  Lists are preferred when:

    The data needs to be ordered and accessed by position (index).

    When need to store duplicate values.

    The collection is simple and small, where key-based lookup is not necessary.

    Whne we plan to perform operations like sorting or iterating over elements in order.

Q19: Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Answer:

  Before Python 3.7, dictionaries were considered unordered because they did not maintain the order in which items were added. This meant data retrieval order was unpredictable. However, from Python 3.7 onward, dictionaries preserve insertion order.

  Regardless of order, dictionaries provide fast access to values by key using a hash table, so data retrieval remains efficient even if the order is not guaranteed (in older versions).

Q20: Explain the difference between a list and a dictionary in terms of data retrieval.

  - Answer:

    List: Data is retrieved by index position (e.g., list[0]). To find a specific value, Python may need to search through the list, which takes O(n) time in the worst case.

    Dictionary: Data is retrieved by key (e.g., dict["key"]). Using a hash table, dictionaries provide fast access with average time complexity of O(1), making lookups much quicker than lists for large data.

In [2]:
# Write a code to create a string with your name and print it

my_name = "Bitu Kumar Nath"
print("My name is", my_name)

My name is Bitu Kumar Nath

In [3]:
# Write a code to find the length of the string "Hello World"

string = "Hello World"
length = len(string)
print(length)

11

In [4]:
# Write a code to slice the first 3 characters from the string "Python
# Programming"

text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

In [5]:
# Write a code to convert the string "hello" to uppercase

text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

In [6]:
# Write a code to replace the word "apple" with "orange" in the string
# "I like apple"

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [7]:
# Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [10]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [11]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [12]:
#  Write a code to create a tuple with the elements 100, 200, 300 and print it

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
#  Write a code to access the second-to-last element of the tuple
#  ('red', 'green', 'blue', 'yellow')

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [14]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

In [15]:
# Write a code to find the index of the element "cat" in the tuple
# ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

In [16]:
# Write a code to create a tuple containing three different fruits and
# check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [17]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [18]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [19]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [20]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [22]:
# Write a code to create a dictionary with the keys "name", "age", and
# "city", and print it.

person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [23]:
# Write a code to add a new key-value pair "country": "USA" to the
# dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#  Write a code to access the value associated with the key "name"
#  in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [25]:
# Write a code to remove the key "age" from the dictionary
# {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# Write a code to check if the key "city" exists in the dictionary
# {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [27]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'John', 'age': 25}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'John', 'age': 25}

In [28]:
# Write a code to create a list of 5 random numbers between 1 and
# 100, sort it in ascending order, and print the result.

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[31, 36, 61, 73, 98]

In [29]:
# Write a code to create a list with strings and print the element at the
# third index

my_list = ["apple", "banana", "cherry", "date", "fig"]
print(my_list[3])

date

In [30]:
# Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "apple", "cherry"]
my_set = set(my_list)
print(my_set)

{'apple', 'cherry', 'banana'}